@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
@media (max-width: 1910px) {
  .our__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 -10px; }
    .our__row img {
      padding: 0 10px;
      margin: 0 !important; }
  .new-collection-left {
    padding: 50px 0px 0 0px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
    .new-collection-left .new-collection-left__row {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .new-collection-right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .new__row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 1600px) {
  .container {
    padding: 0 20px; }
  .new-collection {
    height: inherit; }
  .new-collection__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .new-collection-right {
    padding: 484px 0 90px 0;
    height: 730px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    background: url(../img/new-collection/b1.jpg) 50% 10% no-repeat; }
  .new-collection-left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .collection-2018 {
    padding: 100px 0 0 0;
    height: inherit; }
  .collection-2018__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .collection-2018-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .collection-2018-right {
    padding: 50px 0 0 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .collection-2018-right__text {
    max-width: 600px; } }

@media (max-width: 1100px) {
  .mail__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px; } }

@media (max-width: 900px) {
  .header1-left-text {
    max-width: 200px; }
  .first-content {
    padding: 0; }
  .first-content__logo {
    margin: 0;
    border: 0px;
    width: 100%; }
  .first-content__text {
    font-size: 20px;
    width: 100%; }
  .mail {
    padding: 40px 0 40px 0;
    height: inherit; }
  .mail__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .mail__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .mail-form {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .mail__column__title {
    margin: 0 0 20px 0; }
  .mail__column__text {
    font-size: 16px; }
  .new-collection {
    padding: 0 15px; }
  .new-collection-right {
    padding: 20px 0 0 0;
    background: none; }
  .collection-2018-left {
    display: none; }
  .collection-2018-right {
    padding: 0px 20px 0 20px; }
  .title {
    font-size: 26px;
    line-height: 30px;
    margin: 0 0 30px 0 !important; }
  /* Header Burger */
  .header__burger {
    margin: 0 0 0 40px;
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5; }
  .header__burger::before,
  .header__burger::after {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    content: "";
    background-color: #fff;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px; }
  .header__burger::before {
    top: 0; }
  .header__burger::after {
    bottom: 0; }
  .header__burger span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    background-color: #fff; }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px; }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px; }
  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  body.lock {
    overflow: hidden; }
  .header2-right__menu {
    z-index: 2;
    position: fixed;
    top: -100%;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    height: 100%;
    background-color: #5b514e;
    padding: 70px 10px 20px 10px;
    overflow: auto; }
  .header2-right__menu-active {
    top: 0; }
    .header2-right__menu-active .header2-right__menu__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .header2-right__menu-active .header2-right__menu__link {
      font-size: 20px; } }

@media (max-width: 400px) {
  .header__burger.active {
    top: -80px; }
  .header2-right__action {
    margin: 0 10px 0 0px; }
  .header__burger {
    margin: 0 0 0 20px; }
  .header2-right__action__cart {
    margin: 0 20px 0 0 !important; }
  .header1 {
    height: 100px; }
  .header1__row {
    height: 100px; }
  .header1-left-text {
    max-width: 135px;
    font-size: 16px;
    line-height: 18px; }
  .mail-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .mail-form input {
      margin: 0 0 15px 0; } }
