@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
html {
  scroll-behavior: smooth; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.header1 {
  height: 44px;
  background-color: #000; }

.container {
  margin: 0 auto;
  max-width: 1110px; }

.header1__row {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header1-left-text {
  background: url("../img/header1/1.png") left no-repeat;
  padding: 0 0 0 25px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #969696; }

.header1-right__registration {
  background: url("../img/header1/2.svg") left no-repeat;
  padding: 0 0 0 25px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #969696; }

/* Header2 */
.header2 {
  height: 80px;
  background: #0F0F0F; }

.header2__row {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header2-right__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header2-right__menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header2-right__menu__link {
  padding: 0 20px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #969696; }
  .header2-right__menu__link:hover {
    background: #1F1F1F;
    color: #FFFFFF;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }

.header2-right__action {
  margin: 0 0 0 40px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header2-right__action a:not(:last-child) {
    margin: 0px 42.75px 0px 0px; }

/* First-content */
.first-content {
  padding: 160px 0 0 0;
  height: 810px;
  background: url("../img/first-content/b1.jpg");
  background-position: center;
  background-size: cover; }

.first-content__logo {
  margin: 0 auto 80px auto;
  width: 320px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 4px solid #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.first-content__logo__img {
  border-bottom: 2px solid #FFFFFF; }
  .first-content__logo__img img {
    margin: 0 0 4px 0; }

.first-content__logo__text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF; }

.first-content__text {
  margin: 0 auto;
  width: 730px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF; }

/* New-collection */
.new-collection {
  background: #000000;
  height: 730px; }

.new-collection__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.new-collection-left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 54.2%;
  flex: 0 0 54.2%;
  padding: 93px 80px 0 80px; }

.new-collection-left__title {
  margin: 0 0 50px 0; }

.title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF; }

.new-collection-left-line {
  margin: 0 auto 50px auto !important; }

.new-collection-left__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -25px; }

.new-collection-left__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 260px;
  flex: 0 1 260px;
  padding: 0 25px; }

.new-collection-left__column__img {
  margin-bottom: 25px;
  height: 325px;
  background: #191B1C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.new-collection-left__column__name {
  margin-bottom: 10px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF; }

.new-collection-left__column__price {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #D0D0D0; }

.new-collection-right {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45.8%;
  flex: 0 0 45.8%;
  background: url("../img/new-collection/b1.jpg") 0% no-repeat;
  height: 730px;
  padding: 484px 0 0 0; }

.new-collection-right__title {
  margin: 0 0 30px 0; }

.new-collection-right__line {
  margin: 0 auto 30px auto !important; }

.line {
  margin: 0 auto;
  border-bottom: 1px solid #FFFFFF;
  width: 120px; }

.new-collection-right__btn:hover {
  background: #fff;
  color: #000;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.btn {
  margin: 0 auto;
  padding: 12px 28px;
  display: inline-block;
  border: 1px solid #FFFFFF;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF; }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

/* Collection-2018 */
.collection-2018 {
  background: #000000;
  height: 600px; }

.collection-2018__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.collection-2018-left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45.83%;
  flex: 0 0 45.83%; }

.collection-2018-right {
  padding: 100px 0 0 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 54.16%;
  flex: 0 0 54.16%; }

.collection-2018-right__title {
  margin: 0 0 40px 0; }

.collection-2018-right__line {
  margin: 0 auto 40px auto; }

.collection-2018-right__text {
  margin: 0 auto 61px auto;
  max-width: 471px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF; }

.collection-2018-right__btn:hover {
  cursor: pointer;
  background: #fff;
  color: #000;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

/* New */
.new {
  background-color: #000;
  padding: 120px 0 110px 0; }

.new__title {
  margin: 0 0 40px 0; }

.new-line {
  margin: 0 auto 81px auto; }

.new__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -11px !important; }

.new-collection-left__column {
  margin: 0 0 40px 0;
  padding: 0 11px !important; }

/* Our */
.our {
  padding: 60px 0 80px 0;
  background: #0F0F0F; }

.our__title {
  margin: 0 0 40px 0; }

.our__line {
  margin: 0 auto 40px auto; }

.our__row img:not(:last-child) {
  margin: 0px 20px 0px 0px; }

/* Mail */
.mail {
  padding: 74px 0 0 0;
  background: url("../img/mail/b1.jpg");
  background-size: cover;
  background-position: center;
  height: 400px; }

.mail__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.mail__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 350px;
  flex: 0 0 350px; }

.mail__column__title {
  margin: 0 0 40px 0;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF; }

.mail__column__text {
  margin: 0 0 37px 0;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF; }

.mail-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mail-form__input {
  padding: 0 0 0 15px;
  background: rgba(255, 255, 255, 0.4);
  width: 210px;
  height: 42px;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px; }
  .mail-form__input::-webkit-input-placeholder {
    font-family: PT Sans;
    font-size: 14px;
    opacity: 0.6;
    color: #ffffff; }
  .mail-form__input:-ms-input-placeholder {
    font-family: PT Sans;
    font-size: 14px;
    opacity: 0.6;
    color: #ffffff; }
  .mail-form__input::-ms-input-placeholder {
    font-family: PT Sans;
    font-size: 14px;
    opacity: 0.6;
    color: #ffffff; }
  .mail-form__input::placeholder {
    font-family: PT Sans;
    font-size: 14px;
    opacity: 0.6;
    color: #ffffff; }

.mail-form__btn {
  width: 140px;
  height: 41px;
  background: #0F0F0F;
  color: #FFFFFF; }

.mail__column__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.mail__column__category {
  margin: 0 20px 20px 0;
  padding: 10px 20px;
  background: #0F0F0F;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #D0D0D0; }

/* Footer */
.footer {
  height: 50px;
  background: #0F0F0F; }

.footer__row {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer-left__text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #D0D0D0; }

.footer-right__text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #D0D0D0; }
